//import
@import "utilities/tablet";
@import "utilities/desktop";
@import "base/mixin";
@import "../base/variables";
@import "base/maps";
@import "base/extend";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body, html {
    font-family: 'Roboto', sans-serif !important;
    background-color: white;
    width: 100%;
}

@media (max-width: 576px) {
    .logo {
        width: 80%;
        display: flex;
        padding: 0.5rem;
        justify-content: space-between;
        img {
            width: 60%;
        }
    }
    
    /*inicio main*/
    .inicio {
        grid-area: main;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "h1h2 h1h2"
                             "calidad contacto"
                             "botonTurno botonTurno"
                             "tecnología honestidad";
        align-items: center;
        .h1h2 {
            grid-area: h1h2;
            margin-top: -3.2rem;
            width: 100%;
            h1 {
                font-size: 4vw;
            }
            h1, h2 {
                color: white;
                font-weight: bold;
            }
            h2 {
                font-size: 3vw;
            }
            .carousel-item {
                width: 100%;
            }
            .carousel-item img {
                width: 100%;
                object-fit: center;
            }
        }
        
        .botonTurno {
            grid-area: botonTurno;
            margin: auto;
            background-color: transparent;
            border: none;
            text-decoration: none;
            width: 400px;
            display: flex;
            a {
                margin: auto;
                padding: 5px;
                border-radius: 2px;
                text-align: center;
                border: 1px solid $colorPrincipal;
                box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
                color: black;
                font-size: 20px;
                text-decoration: none;
                transition: 0.2s ease-in-out;
            }
            a:active {
                background-color: $colorPrincipal;
                box-shadow: none;
            }
        }
        .calidad {
            grid-area: calidad;
            text-align: center;
            padding: 0.5rem;
            margin: 0.5rem;
        }
        .contacto {
            grid-area: contacto;
            text-align: center;
            padding: 0.5rem;
            margin: 0.5rem;
        }
        .tecnología {
            grid-area: tecnología;
            text-align: center;
            padding: 0.5rem;
            margin: 0.5rem;
        }
        .honestidad {
            grid-area: honestidad;
            text-align: center;
            padding: 0.5rem;
            margin: 0.5rem;                    
        }
    }
    /*cierra index*/

    /*motores*/
    main {
        grid-area: main;
        margin-top: 100px;
        /*afecta a pages/motores y pages/contacto*/

        .motoresRegular {
            display: flex;
            flex-direction: column;
            .regularText {
                text-align: center;
                margin: 1rem;
            }
            .formReg {
                width: 90%;
                color: #9999;
                border-radius: 3px;
                background: rgba(0,0,0,0.1);
            }
        }
        .motoresRally {
            display: flex;
            flex-direction: column;
            .rallyText {
                margin: 1rem;
                text-align: center;
            }
            .formRal {
                width: 90%;
                color: #9999;
                border-radius: 3px;
                background: rgba(0,0,0,0.1);
            }
        }
    }
    /*cierra Motores*/

    /*nosotros*/

    .nosotros {
        grid-area: main;
        margin-top: 6rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-template-areas: "p1"
                             "img1"
                             "p3" 
                             "img2" 
                             "p4"
                             "img3"
                             "p5"
                             "p6";
        align-items: center;
        justify-items: center;
        .img1 {
            grid-area: img1;
            width: 80%;
        }
        .img2 {
            grid-area: img2;
            width: 80%;
        }
        .p1 {
            grid-area: p1;
        }
        .p3 {
            grid-area: p3;
        }
        .p4 {
            grid-area: p4;
        }
        .p5 {
            grid-area: p5;
        }
        .p6 {
            grid-area: p6;
        }
        .p1, .p3, .p4, .p5, .p6 {
            @include pNosotros;
        }
        .img3 {
            grid-area: img3;
            width: 80%;
        }
        
        /*cierra nosotros*/
    }
    
    
    /*contacto*/
    form {
        width: 90%;
        margin: 40px auto;
        padding: 20px;
        color: #9999;
        border-radius: 3px;
        background: rgba(0,0,0,0.1);
        legend{
            text-align: center;
            font-size: 30px;
            color: $colorSecundario;
            padding: 20px;
        }
        input, textarea {
            width: 100%;
            margin-top: 10px;
            padding: 7px;
            font-size: 17px;
            border: none;
        }
        textarea {
            min-height: 100px;
            max-width: 100%;
            font-family: 'Roboto', sans-serif;
        }
        .boton {
            background-color: $colorSecundario;
            color: $colorPrincipal;
            padding: 20px;
            transition: all 0.2s ease;
        }
        .boton:hover {
            cursor: pointer;
            background-color: $colorPrincipal;
            color: $colorSecundario;
        }
    }
    .redes{
        margin: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        a img {
            width: 80%;
        }
    }
    .turnoH1{
        font-size: 3rem;
        padding-top: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .turnoH2{
        text-align: center;
        padding-top: 15px;
    }
    /*cierra contacto*/
}

/*servicios bootstrap*/
.serv {
    font-family: 'Roboto', sans-serif !important;
    margin-top: 6rem;
    .marcas .carousel-item img{
        width: 50%;
        height: 50%;
        margin: auto;
    }
}
@media (min-width: 992px) {
    .textServ {
        padding-top: 2rem;
    }
}
/*cierra servicios */

header {
    grid-area: header;
}

.logo img{
    width: 50%;
}
.navbar-nav {
    display: flex;
    justify-content: flex-end;
}
.hamburguesa {
    background-color: $colorPrincipal;
}
.bg {
    background-color: $colorSecundario;
    font-size: large;
}
.pages {
    color: white;
}
.nav-item a:hover {
    color: $colorPrincipal;
}
.pagesA{
    color: $colorPrincipal;
}


/*footer con css*/
footer {
    @extend %footer;
    .containerFooter {
        max-width: map-get($map: $vFooter, $key: maxWidth);
        margin: auto;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .boxFooter{
            padding: 0.8rem;
            display: flex;
            flex-direction: column;
            h2 {
                text-align: center;
                margin-bottom: 3px;
                color: map-get($map: $vFooter, $key: colorFooter);
                font-weight: map-get($map: $vFooter, $key: weightH2);
            }
            a {
                text-align: center;
                margin-top: 10px;
                color: map-get($map: $vFooter, $key: colorFooter);
                font-weight: map-get($map: $vFooter, $key: weightA);
                text-decoration: none;
                .fab{
                    font-size: 20px; 
                }
                i {
                    margin-right: 5px;
                }
            }
            a:hover {
                opacity: 0.8;
            }
        }
    }
    .boxCopyright {
        max-width: map-get($map: $vFooter, $key: maxWidth);
        margin: auto;
        text-align: center;
        padding: 0px 40px;
        p {
            margin-top: 20px;
            color: map-get($map: $vFooter, $key: colorCopyright);
            a {
                text-decoration: none;
                color: map-get($map: $vFooter, $key: colorCopyright);
            }
        }
        hr {
            border: none;
            height: 1px;
            background-color: map-get($map: $vFooter, $key: colorCopyright);
        }
    }
}
/*cierra footer*/

/*footer with bootstrap*/
.footer {
    background-color: $colorPrincipal;
    a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        color: #343434;
        font-weight: bold;
    }
    a:hover {
        opacity: 0.8;
    }
    h2 {
        font-weight: bold;
    }
}
.redesBt a i{
    margin-right: 5px;
}

/*section Opiniones*/

.testimonios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    .testHeader {
    margin: 10px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        a{
            text-decoration: none;
            transition: 0.5s ease;
            span {
                padding: 0.5rem;
                font-size: 2.2rem;
                color: #343434;
                box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
                border-radius: 1rem;
            }
        }
        a:hover {
            @include transformaciones(scale(0.95))
        }
    }
    .testContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        .testBox{
            width: 500px;
            box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
            background-color: white;
            padding: 20px;
            margin: 1rem;
            transition: 0.5s ease;
            .box1{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                .perfil {
                    display: flex;
                    align-items: center;
                    .usuario {
                        display: flex;
                        flex-direction: column;
                        strong {
                            color: $colorPrincipal;
                            font-size: 1.3rem;
                            text-shadow: 1px 1px solid black;
                        }
                        span {
                            color: map-get($map: $vFooter, $key: colorCopyright);
                        }
                    }
                }
                .resenas {
                    color: #f9d71c;
                }
            }
        }  
    }
    .testBox:hover{
        @include transformaciones(scale(0.95));
        box-shadow: none;
    }
    /*cierra opiniones*/
}

/*estilos Servicios*/
