@import "base/mixin";
@import "../base/variables";
@import "../base/extend";

@media (min-width: 992px) {
    .logo {
        width: 30%;
    }
    /*inicio index*/ 
    .inicio {
        margin: 0%;
        grid-area: main;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "h1h2 h1h2 h1h2 h1h2 h1h2"
                             "calidad contacto botonTurno tecnología honestidad";
        align-items: center;
        justify-content: center;
        .h1h2 {
            grid-area: h1h2;
            /*si saco margin-top: -35px la imagen de fondo me queda con un espacio entre ella y el header: */
            margin-top: -25px;
            height: 40rem;
            .carousel-item {
                img{
                    object-fit:cover;
                    width: 100%;
                    height: 40rem;
                }
            }
            h1, h2 {
                color: white;
                font-weight: bold;
                text-shadow: 10px 10px 5px $colorSecundario;
            }
        }
        .calidad {
            grid-area: calidad;
            text-align: center;
        }
        .contacto {
            grid-area: contacto;
            text-align: center;
        }
        .honestidad, .tecnología, .contacto, .calidad, .botonTurno{
            background-color: #f7f4f4;
            border-radius: 1rem;
            padding: 0.5rem;
            margin: 2rem;
            animation-name: indexAnimation;
            animation-duration: 0.8s;
            animation-iteration-count: initial;
        }
        .botonTurno {
            grid-area: botonTurno;
            text-align: center;
            background-color: transparent;
            border: none;
            text-decoration: none;
            display: flex;
            margin: auto;
            a {
                padding: 1rem;
                border-radius: 6px;
                text-align: center;
                border: 2px solid $colorPrincipal;
                color: black;
                font-size: 20px;
                text-decoration: none;
                transition: all 0.1s ease-in-out;
            }
            a:hover {
                background-color: $colorPrincipal;
            }
            a:active{
                @include transformaciones(scale(0.9));
            }
        }
        .tecnología {
            grid-area: tecnología;
            text-align: center;
        }
        .honestidad {
            grid-area: honestidad;
            text-align: center;
        }
        
        @keyframes indexAnimation {
            from {
                margin-left: -200rem;
            }
        }
    } 
    /*cierra index*/

    /*motores*/
    main {
        margin-top: 100px;
        /*afecta a pages/motores y pages/contacto*/

        .motoresRegular {
            margin: 2rem;
            display: flex;
            align-items: center;
            animation-name: regularAnimation;
            animation-iteration-count: initial;
            animation-duration: 0.5s;
            .regularText {
                width: 50%;
                text-align: center;
            }
            .formReg {
                @include formMotores;
                justify-content: end;
            }
        }
        @keyframes regularAnimation {
            from {
                margin-left: -40rem;
            }
        }
        .motoresRally {
            margin: 2rem;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            animation-name: rallyAnimation;
            animation-iteration-count: initial;
            animation-duration: 0.5s;
            .rallyText {
                width: 50%;
                text-align: center;
            }
            .formRal {
                @include formMotores;
            }
        }
        @keyframes rallyAnimation {
            from {
                margin-right: -40rem;
            }
        }
    }
    /*cierra Motores*/

    /*nosotros*/

    .nosotros {
        margin-top: 7rem;
        margin-right: 2rem;
        margin-left: 2rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "img1 p1 p3"
                             "p4 p5 img2"
                             "p6 p6 img3";
        align-items: center;
        justify-items: center;
        .img1:hover, .img2:hover, .img3:hover {
            @include transformaciones(scale(1.05));
            box-shadow: none;
        }
        .img1 {
            grid-area: img1;
            @include imgNosDeskt;
            animation-name: nosotrosAnimation;
            animation-duration: 0.2s;
    
        }
        .img2 {
            grid-area: img2;
            @include imgNosDeskt;
            animation-name: nosotrosAnimation;
            animation-duration: 3.2s;
        }
        .img3 {
            grid-area: img3;
            @include imgNosDeskt;
            margin: 1rem;
            animation-name: nosotrosAnimation;
            animation-duration: 6s;
        }
        .p1 {
            grid-area: p1;
            text-align: center;
            font-size: 1.2vw;
            animation-name: nosotrosAnimation;
            animation-duration: 1s;
            animation-iteration-count: initial;
            padding: 1.8rem;
        }
        .p3 {
            grid-area: p3;
            text-align: center;
            font-size: 1.2vw;
            animation-name: nosotrosAnimation;
            animation-duration: 2s;
            animation-iteration-count: initial;
            padding: 1.8rem;
        }
        .p4 {
            grid-area: p4;
            text-align: center;
            font-size: 1.2vw;
            animation-name: nosotrosAnimation;
            animation-duration: 3s;
            animation-iteration-count:unset;
            animation-iteration-count: initial;
            padding: 1.8rem;
        }
        .p5 {
            grid-area: p5;
            text-align: center;
            font-size: 1.2vw;
            animation-name: nosotrosAnimation;
            animation-duration: 4s;
            animation-iteration-count: initial;
            padding: 1.8rem;
        }
        .p6 {
            grid-area: p6;
            text-align: center;
            font-size: 1.5vw;
            padding-left: 5rem;
            animation-name: nosotrosAnimation;
            animation-duration: 5s;
            animation-iteration-count: initial;
            padding: 0.8rem;
            transition: 0.5s ease;
        }
        .p6:hover {
            @include transformaciones(scale(0.97));
            background-color: $colorPrincipal;
            border-radius: 6px;
        }

        
        @keyframes nosotrosAnimation {
            from {
                @include transformaciones(scale(0.6));
            }
        }                     
    }
    /*cierra nosotros*/
    
    /*contacto*/
    form {
        width: 70%;
        margin: 40px auto;
        padding: 20px;
        color: #9999;
        border-radius: 3px;
        background: rgba(0,0,0,0.1);
        legend{
            text-align: center;
            font-size: 30px;
            color: $colorSecundario;
            padding: 20px;
        }
        input, textarea {
            width: 100%;
            margin-top: 10px;
            padding: 7px;
            font-size: 17px;
            border: none;
        }
        textarea {
            min-height: 100px;
            max-width: 100%;
            font-family: 'Roboto', sans-serif;
        }
        .boton {
            background-color: $colorSecundario;
            color: $colorPrincipal;
            padding: 20px;
            transition: all 0.2s ease;
        }
        .boton:hover {
            cursor: pointer;
            background-color: $colorPrincipal;
            color: $colorSecundario;
        }
    }
    
    .redes{
        margin: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 2rem;
        a img {
            width: 60%;
        }
    }
    .turnoH1{
        font-size: 4rem;
        font-weight: bold;
        padding-top: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .turnoH2{
        font-size: 2rem;
        text-align: center;
        padding-top: 5px;
    }
    /*cierra contacto*/
}
