@mixin transformaciones($transform){
    -webkit-transform: $transform;
    -o-transform: $transform;
    -moz-transform: $transform;
    $transform: transform;
}
@mixin animaciones($animation){
    -webkit-animation: $animation;
    -o-animation: $animation;
    -moz-animation: $animation;
}

/*formulario en Page Motores aplicado a tablet y desktop*/
@mixin formMotores {
    width: 50%;
    margin: 20px;
    padding: 20px;
    color: #9999;
    border-radius: 3px;
    background: rgba(0,0,0,0.1);
}

/*utilizado en la version Mobile de Nosotros */
@mixin pNosotros {
    font-size: 3vw;
    text-align:center;
    margin: 1rem;
    padding: 1rem;
}
/*desktop nosotros*/
@mixin imgNosDeskt {
    width: 100%;
    animation-iteration-count: initial;
    padding: 0.8rem;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    transition: 0.5s ease;
}
